APP_BASE_URL=http://media.eliteflix.in/test/inshare-file-sharing-app-api-master
MONGO_CONNECTION_URL="mongodb+srv://Ashish:5412csas@eliteflix.kw22u.mongodb.net/?retryWrites=true&w=majority"

SMTP_HOST=
SMTP_PORT=587
MAIL_USER=
MAIL_PASSWORD=

ALLOWED_CLIENTS=http://localhost:3000,http://localhost:3300
